registry=https://registry.npmjs.org/
//3.92.203.232:8081/repository/npmtestpackagerepo/:_authToken=NpmToken.e2c73c0b-e3ee-3272-a2fe-9b2affc75a2c
//registry.npmjs.org/:_authToken=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